<!DOCTYPE html>
<html>
<head>
	<title>Projeto Jogar Dados</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">	
</head>
<body>
	<main>
		<div class="container col-12 col-sm col-md-6 bg-light p-2 text-center">
			<h1>Projeto Jogar Dados</h1>

			<div class="container">

				<div class="card-deck my-2">

					<div class="col-6 p-4">

						<div class="card">

							<div class="card-header">Pontuação acumulada</div>
							<div class="card-body"><%= pontosAcumulados %></div>

						</div>
					</div>

					<div class="col-6 p-4">

						<div class="card">

							<div class="card-header">Número de lançamentos</div>
							<div class="card-body"><%= nLancamentos %></div>
						</div>
					</div>

					<div class="col-12 p-3">

						
						<div class="card">
							
							<div class="card-header">Lançamento</div>
							<div class="card-body">

								<% for(var i=0; i < lancamento.length; i++){ %>
									<img src="images/dado<%=lancamento[i]%>.png" class="p-2 col-3 col-sm-2">
								<% } %>
									
							</div>
						</div>
					</div>

					<div class="col-6 p-3">

						<div class="card">
							
							<div class="card-header">jogo Lançamento atual</div>
							<div class="card-body"><%= jogoLancamento %></div>
						</div>
					</div>

					<div class="col-6 p-3">

						<div class="card">
							
							<div class="card-header">Pontuação Lançamento</div>
							<div class="card-body"><%= pontosLancamento %></div>
						</div>
					</div>

					<div class="col-6 p-3">

						<div class="card">
							
							<div class="card-header">Número de dados</div>
							<div class="card-body"><%= numeroDados %></div>
						</div>
					</div>

				</div>
			</div>

			<div class="col-12 mx-auto mt-2 px-4">

				<button type="button" class="btn btn-success btn-block" id="buttonLancarDados">Lançar dados</button>
			</div>

			<div class="col-6 mx-auto p-4">

				<button type="button" class="btn btn-warning btn-block" id="buttonReiniciarJogo">Reiniciar</button>
			</div>

			<div class="col-6 mx-auto p-4">

				<button type="button" class="btn btn-danger btn-block" id="buttonEncerraJogo">Encerrar</button>
			</div>
		</div>
	</main>
</body>

<script src="js/jquery-3.4.1.min.js"></script>

<script type="text/javascript">
	$(document) . ready(function(){

		$("#buttonLancarDados").click(
			function(){
			location.href='lancarDados';
		});

		$("#buttonReiniciarJogo").click(
			function(){
			location.href='reiniciar';
		});

		$("#buttonEncerraJogo").click(
			function(){
				location.href='encerrar';
			});
	});
</script>

</html>