<!DOCTYPE html>
<html>
<head>
	<title>Projeto Jogar Dados</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">	
</head>
<body>
	<main>
		<div class="container col-12 col-sm col-md-6 bg-light p-2 text-center">
			<h1>Projeto Jogar Dados</h1>

			<div class="container">

				<div class="card-deck my-2">

					<div class="col-6 p-2">

						<div class="card">

							<div class="card-header">Pontuação acumulada</div>
							<div class="card-body"><%= pontosAcumulados %></div>

						</div>
					</div>
				</div>
			</div>

			<p>Número de lançamentos: <%= nLancamentos %> </p>

			<p>Lançamento: <%= lancamento %></p>

			<p>jogo Lançamento atual: <%= jogoLancamento %></p>

			<p>Pontuação Lançamento: <%= pontosLancamento %></p>

			<button type="button" id="buttonLancarDados">Lançar dados</button>
			<button type="button" id="buttonReiniciarJogo">Reiniciar</button>
			<button type="button" id="buttonEncerraJogo">Encerrar</button>

		</div>
	</main>
</body>

<script src="js/jquery-3.4.1.min.js"></script>

<script type="text/javascript">
	$(document) . ready(function(){

		$("#buttonLancarDados").click(
			function(){
			location.href='lancarDados';
		});

		$("#buttonReiniciarJogo").click(
			function(){
			location.href='reiniciar';
		});

		$("#buttonEncerraJogo").click(
			function(){
				location.href='encerrar';
			});
	});
</script>

</html>